.my.url{
	padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

.my.li{
	text-decoration:none;
	color:#FFFFFF;
	font-size: 12px;
	line-height: 24px;
}

.row.ft-top{
	padding: 20px 0 50px;
	text-align: left;
}
.row.ft-btm{
	color: #38485a; 
	font-size: 10px; 
	text-align: left; 
	padding: 22px 0 46px; 
	border-top: 1px solid #e2e3e6;
}

.index.search.container{
	border: 1px solid #af9a87;
    background-color: #FFf;
    margin-top: 10px;
    width: 98%;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    background-color:#e4dcd5
}

.index.search.row{
    height: 30px;
}

.mytable{
    background-color: transparent;
    box-sizing: border-box;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    width: 400px;
    height: 500px;
    font-size: 50px;
    table-layout:fixed ; 
    margin:0 auto;
}

.navigation {
    position: absolute;
    background: url(../img/nav-bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 0 0;
    width: 100%;
    margin: 0 auto;
    top: -28px;
    left: 0;
}
.navigation-strip {
    position: relative;
    width: 60%;
    margin: 0 auto;
    z-index: 1;
}

.effect2:before, .effect2:after {
    z-index: -999;
    position: absolute;
    content: "";
    bottom: -17px;
    left: 15px;
    width: 57%;
    top: 84%;
    max-width: 348px;
    background: #9f2916;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #9f2916;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}


.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 15px;
    left: auto;
}

.search_bar_item{
	
}

.search_bar_item:hover{
	
}

.curr_btn{
	float: left;
	display: inline-block;
    width: 85px;
    height: 35px;
    background: #85b5df;
    line-height: 35px;
    text-align: center;
    border: 1px solid #6d95d6;
    text-decoration: none;
    color: #f7f7f7 !important;
    border-radius: 4px;
}

.tab_btn{
	float: left;
	display: inline-block;
    width: 85px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    color: #534e4e;
    font-size: large;
}

.front_headOne{
	font-size:46px;
}

.front_headTwo{
	font-size:36px;
}

.front_headThree{
	font-size:26px;
}

.front_headFour{
	font-size:16px;
}

.front_textOne{
	font-size:14px;
}

.tab_div{
	display: none;
}

.curr_div{
	display: block !important;
}

a.tab_btn:hover {
text-decoration: none;
}

a.tab_btn:link {
text-decoration: none;
}
a.tab_btn:visited {
text-decoration: none;
}
a.tab_btn:hover {
text-decoration: none;
}
a.tab_btn:active {
text-decoration: none;
}

body{
	font-family: Microsoft YaHei;
}

/* ****************************************************************************** */
.input-set-label {
  height: 30px;
  width: 50%;
  display: block;
  float: left;
}

.label-set-input {
  float: left;
  margin-left: 1rem;
  line-height: 30px;
  height: 30px;
}
