<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/my-style.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.css"/>
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<title>汉藏大辞典</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		
		<div class="wrap" style="width: 80%; margin: 30px auto;">
			<div class="container index compare">
				<div class="navigation-strip effect2">
					<div class="navigation">
						<p style="text-align: center;font-weight: normal;color: #333;" class="front_headThree" id="compare-homepage-title">方言与方言比较</p>
					</div>
				</div>
				<div class="row" style="margin-top: 50px">
					<div class="col-md-3" style="text-align:center">
						<label>使用一下两种方式进行比较：</label>
					</div>
				</div>
				<div>
					<div class="row" style="margin-top: 50px" id="1">
					</div>
				</div>
				<div class="row" style="margin-top: 50px">
					<div class="col-md-2" style="text-align:center"></div>
					<div class="col-md-2"><a onclick="addNewRow()" class="button" id="add-Dia">添加方言</a></div>
					<div class="col-md-2" style="text-align:center"></div>
					<div class="col-md-2"><a onclick="createUploadButton()" class="button">完成方言添加</a></div>
				</div>
				<div class="row" style="margin-top: 50px">
					<div class="col-md-2" style="text-align:center"></div>
					<div class="col-md-2" style="text-align:center"><p><strong>当前已选方言：</strong></p></div>
					<div class="col-md-8" style="text-align:center">
						<label id="current-chosen-label" style="color: red;font-size: 24px;"></label>
						<label id="current-chosen-id" style="visibility: hidden;"></label>
					</div>
				</div>
				<div class="row" style="margin-top: 50px">
					<div class="col-md-2" style="text-align:center"></div>
					<div class="col-md-2" style="text-align:center" id="onset-compare-div"></div>
					<div class="col-md-2" style="text-align:center"></div>
					<div class="col-md-2" style="text-align:center" id="final-compare-div"></div>
					<div class="col-md-2" style="text-align:center"></div>
					<div class="col-md-2" style="text-align:center"></div>
				</div>
			</div>
		</div>
		<!-- 上传本地数据 -->
		<div class="modal fade" id="uploadLocalFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">选择本地数据上传</h4>
		            </div>
		            <form method="POST" enctype="multipart/form-data" id="uploadLocalClusterFileForm">
						<div class="modal-body">
			            	<div class="row">
			            		<div class="col-md-3" style="text-align:center"><p><strong>输入方言点: </strong></p></div>
			            		<div class="col-md-6" style="text-align:center"><input type="text" name="locationDes" id="locationDes"/></div>
			            		<input id="current-selected-local-id" style="visibility: hidden;" name="currentID" />
			            	</div>
			            	<div class="row">
				            	<div class="col-md-3" style="text-align:center"><p><strong>选择文件: </strong></p></div>
								<div class="col-md-6" style="text-align:center"><input type="file" name="file" style="float: right;" id="upload-file-input"/></div>
							</div>
			       		</div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			                <button type="submit" class="btn btn-primary" id="confirmUpload">确定上传</button>
			            </div>
		            </form>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal -->
		</div>
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
	<script type="text/javascript" src="../js/bootstrap-select.js" charset="UTF-8"></script>
	<script th:inline="javascript">
		var dialectsList = [[${dialectsList}]];
		var currentLabel = document.getElementById("current-chosen-label");
		var currentID = document.getElementById("current-chosen-id");
		var dialectSelect = document.getElementById("dialect-select-1");
		
		var onsetDIV = document.getElementById("onset-compare-div");
		var finalDIV = document.getElementById("final-compare-div");
	</script>
	<script type="text/javascript" src="../js/diadiacomp.js" charset="UTF-8"></script>
</html>