<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/my-style.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.css"/>
	    
		<title>汉藏大辞典</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		
		<div class="wrap">
			<div class="container index search" style="height: 100%;">
				<div class="index search row" style="height: 60px;">
				</div>
				
				<div class="content" style="padding:20px;border-radius: 4px;">
				<div class="container">
					<div class="row">
						<div class="well well-white clearfix" style="padding:10px" >
							<h3>方言语言点-<span th:text="${languagePoint}"></span></h3>
							<div>
								<table id="dialectstable"></table>
							</div>
							<div class="row" style="padding:10px; text-align:center" id="detail-collected-button">
								<div class="col-md-2"><a th:href="@{/getDialectDetialDrawedBydid(id=${id},drawtype='drawonsetdialectsdetial',languagePoint = ${languagePoint})}">方言声母提取</a></div>
								<div class="col-md-2"><a th:href="@{/getDialectDetialDrawedBydid(id=${id},drawtype='drawfinaldialectsdetial',languagePoint = ${languagePoint})}">方言韵母提取</a></div>
								<div class="col-md-2"><a th:href="@{/getDialectDetialDrawedBydid(id=${id},drawtype='drawnuclensdialectsdetial',languagePoint = ${languagePoint})}">方言韵核提取</a></div>
								<div class="col-md-2"><a th:href="@{/getDialectDetialDrawedBydid(id=${id},drawtype='drawcodadialectsdetial',languagePoint = ${languagePoint})}">方言韵尾提取</a></div>
								<div class="col-md-2"><a th:href="@{/getDialectDetialDrawedBydid(id=${id},drawtype='drawtonedialectsdetial',languagePoint = ${languagePoint})}">方言声调提取</a></div>
							</div>
						</div>
						<div class="row" style="padding:10px; text-align:center" id="detail-message-alert">
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/bootstrap-table.js"></script>
	<script type="text/javascript" src="../js/locales/bootstrap-table-zh-CN.js"></script>
	<script type="text/javascript" src="../table-extensions/bootstrap-table-export.js"></script>
	<script th:inline="javascript">
		var $table = $('#dialectstable');
		var roughList = [[${dialectDetialList}]];
		$table.bootstrapTable({
			data: roughList,
			dataType: "json",
			toolbar: '#toolbar',                //工具按钮用哪个容器
			striped: true,                      //是否显示行间隔色
			singleSelect: false,
			pagination: true, 					//分页
			pageNumber:1,                       //初始化加载第一页，默认第一页
			pageSize: 10,                       //每页的记录行数（*）
			pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
			search: false, 						//显示搜索框
			sidePagination: "client", 			//服务端处理分页
			columns: [{
					field: 'ID',
					title: '方言ID',
					align: 'center'
				}, {
					field: 'representationText',
					title: '藏语词条',
					align: 'center',
					class: 'representationTextClass'
				}, {
					field: 'translationText',
					title: '汉语词条',
					align: 'center'
				}, {
					field: 'wltranscriptionText',
					title: '表记威利转写',
					align: 'center'
				}, {
					field: 'transcriptionText',
					title: '国际音标转写',
					align: 'center'
				}, {
					field: 'pronunciationText',
					title: '发音',
					align: 'center'
				}, {
					field: 'videoText',
					title: '视频',
					align: 'center'
				}, {
					field: 'syllablesCount',
					title: '音节个数',
					align: 'center'
				}, {
					field: 'primaryStressedPosition',
					title: '主重音位置',
					align: 'center'
				}, {
					field: 'secondaryBtressedPosition',
					title: '次重音位置',
					align: 'center'
				}
			]
		});
	</script> 
</html>