<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/my-style.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.css"/>
	    <link rel="stylesheet" media="screen" href="../css/bootstrap-datetimepicker.min.css" />
	    
		<title>汉藏大辞典</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		
		<div class="wrap">
			<div class="container index search" style="height: 100%;">
				<div class="index search row" style="height: 60px;">
				</div>
				
				<div class="content" style="padding:20px;border-radius: 4px;">
				<div class="container">
					<div class="row">
						<div class="well well-white clearfix" style="padding:10px" >
							<div class="index search row" style="height: 60px;"><span th:text="${message}"></span></div>
							<div>
								<table border="1" class="mytable" style=" width: 1000px; height: 50px;">
									<tr class="front_textOne">
										<td>方言ID</td>
										<td>藏语词条</td>
										<td>汉语词条</td>
										<td>表记威利转写</td>
										<td>国际音标转写</td>
										<td>韵尾音标转写</td>
										<td>韵尾威利转写</td>
									</tr>
									<tr th:each="dialectDetial : ${dialectDetialDrawedList}" style="font-size: 14px;">
										<td th:text="${dialectDetial.ID}"> </td>
										<td th:text="${dialectDetial.representationText}"> </td>
										<td th:text="${dialectDetial.translationText}"> </td>
										<td th:text="${dialectDetial.wltranscriptionText}"> </td>
										<td th:text="${dialectDetial.transcriptionText}"> </td>
										<td th:text="${dialectDetial.codaText}"> </td>
										<td th:text="${dialectDetial.codaWilleText}"> </td>
									</tr>
								</table>
							</div>
							<div class="row" style="padding:10px; text-align:center" id="detail-collected-button">
								<div class="col-md-2"><button type="button" class="btn btn-primary btn-lg" id="dialects-tone-draw-btn" onclick="readyToUplaod()">导出到excel</button></div>
							</div>
						</div>
						<div class="row" style="padding:10px; text-align:center" id="detail-message-alert">
						</div>

					</div>
				</div>
			</div>
			</div>
		</div>
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../js/bootstrap-select.js" charset="UTF-8"></script>
</html>