<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/my-style.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.css"/>
	    
		<title>汉藏大辞典</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		<div class="wrap">
			<div class="container index search" style="height: 100%;">
				<div class="index search row" style="height: 60px;">
				</div>
				<div class="container">
					<div class="well well-white clearfix" style="padding:10px" >
						<h3>方言语言点-<span th:text="${languagePoint}"></span></h3>
						<div>
							<table id="dialectstable"></table>
							</div>
						<div class="row"><a th:href="@{/getDialectDetialByid(id=${id}, languagePoint=${languagePoint})}">返回上一层</a></div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/bootstrap-table.js"></script>
	<script type="text/javascript" src="../js/locales/bootstrap-table-zh-CN.js"></script>
	<script type="text/javascript" src="../table-extensions/bootstrap-table-export.js"></script>
	<script type="text/javascript" src="../table-extensions/tableExport.js"></script>
	<script th:inline="javascript">
		var $table = $('#dialectstable');
		var roughList = [[${dialectDetialDrawedList}]];
		var drawtype = [[${drawtype}]];
		if(drawtype==='drawonsetdialectsdetial'){
			$table.bootstrapTable({
				data: roughList,
				dataType: "json",
				toolbar: '#toolbar',                //工具按钮用哪个容器
				striped: true,                      //是否显示行间隔色
				singleSelect: false,
				pagination: true, 					//分页
				pageNumber:1,                       //初始化加载第一页，默认第一页
				pageSize: 10,                       //每页的记录行数（*）
				pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
				search: false, 						//显示搜索框
				sidePagination: "client", 			//服务端处理分页
				showExport: true,
				exportDataType: "all",
				columns: [{
						field: 'representationText',
						title: '藏语词条',
						align: 'center',
						class: 'representationTextClass'
					}, {
						field: 'translationText',
						title: '汉语词条',
						align: 'center'
					}, {
						field: 'wltranscriptionText',
						title: '威利转写',
						align: 'center'
					},{
						field: 'transcriptionText',
						title: '方言读音',
						align: 'center'
						
					},{
						field: 'onsetWilleText',
						title: '古藏语声母',
						align: 'center',
						class: 'old-tibetan-td'
					},{
						field: 'onsetText',
						title: '方言声母',
						align: 'center',
						class: 'dialect-td'
						
					}
				]
			});
		}
		if(drawtype==='drawnuclensdialectsdetial'){
			$table.bootstrapTable({
				data: roughList,
				dataType: "json",
				toolbar: '#toolbar',                //工具按钮用哪个容器
				striped: true,                      //是否显示行间隔色
				singleSelect: false,
				pagination: true, 					//分页
				pageNumber:1,                       //初始化加载第一页，默认第一页
				pageSize: 10,                       //每页的记录行数（*）
				pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
				search: false, 						//显示搜索框
				sidePagination: "client", 			//服务端处理分页
				showExport: true,
				exportDataType: "all",
				columns: [{
						field: 'ID',
						title: '音节ID',
						align: 'center'
					}, {
						field: 'representationText',
						title: '藏语词条',
						align: 'center',
						class: 'representationTextClass'
					}, {
						field: 'translationText',
						title: '汉语词条',
						align: 'center'
					},{
						field: 'wltranscriptionText',
						title: '威利转写',
						align: 'center'
					}, {
						field: 'transcriptionText',
						title: '方言读音',
						align: 'center'
						
					},{
						field: 'nuclensWilleText',
						title: '古藏语韵核',
						align: 'center',
						class: 'old-tibetan-td'
					},{
						field: 'nuclensText',
						title: '方言韵核',
						align: 'center',
						class: 'dialect-td'
						
					}
				]
			});
		}
		if(drawtype==='drawfinaldialectsdetial'){
			$table.bootstrapTable({
				data: roughList,
				dataType: "json",
				toolbar: '#toolbar',                //工具按钮用哪个容器
				striped: true,                      //是否显示行间隔色
				singleSelect: false,
				pagination: true, 					//分页
				pageNumber:1,                       //初始化加载第一页，默认第一页
				pageSize: 10,                       //每页的记录行数（*）
				pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
				search: false, 						//显示搜索框
				sidePagination: "client", 			//服务端处理分页
				showExport: true,
				exportDataType: "all",
				columns: [{
						field: 'ID',
						title: '音节ID',
						align: 'center'
					}, {
						field: 'representationText',
						title: '藏语词条',
						align: 'center',
						class: 'representationTextClass'
					}, {
						field: 'translationText',
						title: '汉语词条',
						align: 'center'
					},{
						field: 'wltranscriptionText',
						title: '威利转写',
						align: 'center'
					}, {
						field: 'transcriptionText',
						title: '方言读音',
						align: 'center'
						
					},{
						field: 'finalWilleText',
						title: '古藏语韵母',
						align: 'center',
						class: 'old-tibetan-td'
					},{
						field: 'finalText',
						title: '方言韵母',
						align: 'center',
						class: 'dialect-td'
						
					}
				]
			});
		}
		if(drawtype==='drawcodadialectsdetial'){
			$table.bootstrapTable({
				data: roughList,
				dataType: "json",
				toolbar: '#toolbar',                //工具按钮用哪个容器
				striped: true,                      //是否显示行间隔色
				singleSelect: false,
				sidePagination: "client",
				pagination: true, 					//分页
				pageNumber:1,                       //初始化加载第一页，默认第一页
				pageSize: 10,                       //每页的记录行数（*）
				pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
				search: false, 						//显示搜索框
				showExport: true,
				exportDataType: "all",
				columns: [{
						field: 'ID',
						title: '音节ID',
						align: 'center'
					}, {
						field: 'representationText',
						title: '藏语词条',
						align: 'center',
						class: 'representationTextClass'
					}, {
						field: 'translationText',
						title: '汉语词条',
						align: 'center'
					},{
						field: 'wltranscriptionText',
						title: '威利转写',
						align: 'center'
					}, {
						field: 'transcriptionText',
						title: '方言读音',
						align: 'center'
						
					},{
						field: 'codaWilleText',
						title: '古藏语韵尾',
						align: 'center',
						class: 'old-tibetan-td'
					},{
						field: 'codaText',
						title: '方言韵尾',
						align: 'center',
						class: 'dialect-td'
						
					}
				]
			});
		}
		if(drawtype==='drawtonedialectsdetial'){
			$table.bootstrapTable({
				data: roughList,
				dataType: "json",
				toolbar: '#toolbar',                //工具按钮用哪个容器
				striped: true,                      //是否显示行间隔色
				singleSelect: false,
				pagination: true, 					//分页
				pageNumber:1,                       //初始化加载第一页，默认第一页
				pageSize: 10,                       //每页的记录行数（*）
				pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
				search: false, 						//显示搜索框
				sidePagination: "client", 			//服务端处理分页
				showExport: true,
				exportDataType: "all",
				columns: [{
						field: 'ID',
						title: '音节ID',
						align: 'center'
					}, {
						field: 'representationText',
						title: '藏语词条',
						align: 'center',
						class: 'representationTextClass'
					}, {
						field: 'translationText',
						title: '汉语词条',
						align: 'center'
					},{
						field: 'wltranscriptionText',
						title: '威利转写',
						align: 'center'
					}, {
						field: 'transcriptionText',
						title: '方言读音',
						align: 'center'
						
					},{
						field: 'toneText',
						title: '方言声调',
						align: 'center',
						class: 'dialect-td'
						
					}
				]
			});
		}
	</script>
</html>