<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/my-style.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.css"/>
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<title>汉藏大辞典</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		<div class="wrap">
			<div class="container index search" style="height: 100%;">
				<div>
					<p id=""></p><h1>方言与古藏语韵母比较</h1>
				</div>
			</div>
		</div>
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
	<script type="text/javascript" src="../js/bootstrap-select.js" charset="UTF-8"></script>
</html>