<div th:fragment="footer">
	<div class="container">
		<div class="row ft-top">
			<div class="col-md-4 col-sm-4">
				<h4 style="color:#FFFFFF">ABOUT US</h4>
				<ul class="my url">
					<li><a href="about" class="my li">关于我们</a></li>
					<li><a href="bc/news" class="my li">数据库动态</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4">
				<h4 style="color:#FFFFFF">友情链接</h4>
				<ul class="my url">
					<li><a href="http://www.shnu.edu.cn" target="_blank" class="my li">上海师范大学</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4">
				<h4 style="color:#FFFFFF">友情链接</h4>
				<ul class="my url">
					<li><a href="http://www.shnu.edu.cn" target="_blank" class="my li">上海师范大学</a></li>
				</ul>
			</div>
		</div><!-- .ft-top end -->
		<div class="row ft-btm" style="">
			<div class="col-md-6 col-sm-8 hidden-xs">
				<p style="color:#FFFFFF">Copyright © 2003 - 2015 Goyoo. All rights Reserved. 
					<a href="#" class="my li">xxxxxxxxxx</a> 版权所有
				</p>
				<p>
					<a href="#" style="text-decoration:none;color:#FFFFFF"  target="_blank" class="beian">
					京ICP备xxxxxxxx号-xx
					</a>
				</p>
			</div>
		</div><!-- .ft-btm end -->
	</div>
</div>
	
