<div th:fragment="header">
	<header style="border-bottom:1px solid #eeeeee">
		<div class="container" style="height: 200px;background-color: #928d8d;width: 100%;">
		</div>
		<div class="container" style="width: 100%;">
			<div class="navbar-collapse collapse navbar-right" id="header-navbar" style="float: left !important;">
			</div>
		</div>
	</header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav" style="font-size: large;">
					<li class="active"><a href="/indexHTML">首页</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">方言导入<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">导入方言</a></li>
							<li class="divider"></li>
							<li><a href="#">拉丁转写</a></li>
							<li class="divider"></li>
							<li><a href="#">音节结构分析</a></li>
							<li class="divider"></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">方言比较<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">方言与古藏文比较</a></li>
							<li class="divider"></li>
							<li><a href="#">古藏文与方言比较</a></li>
							<li class="divider"></li>
							<li><a href="#">方言与方言比较</a></li>
							<li class="divider"></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">文本处理<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">拉丁转写（藏--拉丁、拉丁--藏）</a></li>
							<li class="divider"></li>
							<li><a href="#">藏语分词</a></li>
							<li class="divider"></li>
							<li><a href="#">机器翻译</a></li>
							<li class="divider"></li>
							<li><a href="#">文本标注</a></li>
							<li class="divider"></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">藏汉词典<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">方言与古藏文比较</a></li>
							<li class="divider"></li>
							<li><a href="#">古藏文与方言比较</a></li>
							<li class="divider"></li>
							<li><a href="#">方言与方言比较</a></li>
							<li class="divider"></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">下载专区<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">表格下载</a></li>
							<li class="divider"></li>
							<li><a href="#">软件下载</a></li>
							<li class="divider"></li>
							<li><a href="#">输入法下载</a></li>
							<li class="divider"></li>
						</ul>
					</li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

