<div th:fragment="header">
	<header style="border-bottom:1px solid #eeeeee">
		<div class="container" style="height: 200px;background-color: #928d8d;width: 100%;">
		</div>
		<div class="container" style="width: 100%;">
			<div class="navbar-collapse collapse navbar-right" id="header-navbar" style="float: left !important;">
			</div>
		</div>
	</header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/indexHTML">首页</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">方言比较<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">调入方言</a></li>
							<li class="divider"></li>
							<li><a href="#">数据库规范化</a></li>
							<li class="divider"></li>
							<li><a href="#">用方言调查字典建数据库</a></li>
							<li class="divider"></li>
							<li><a href="#">语音处理</a></li>
							<li class="divider"></li>
							<li><a href="#">方言与方言比较</a></li>
							<li class="divider"></li>
							<li><a href="#">方言地图</a></li>
						</ul>
					</li>
					<li><a href="#">文本处理</a></li>
					<li><a href="#">藏汉词典</a></li>
					<li><a href="#">下载专区</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

