<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="css/my-style.css"/>
	    
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/searchbar.js"></script>
		<script type="text/javascript" src="js/divautoheight.js"></script>
		<title>汉藏大辞典</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		<div class="wrap">
			<div class="container index search" style="width: 80%;margin: auto;border-radius: 4px;">
				<div class="index search row">
				</div>
				<div class="index search row">
				</div>
				<div class="container container-index" style="width:50%; height:280px">
		
							<span class="front_headOne">藏语词典搜索</span> 
							<br/>
							<span class="front_headFour">
								提供专业的藏语翻译服务
							</span>
							<div class="index search row">
								<a href='javascript:void(0)' index='0' class='tab_btn curr_btn front_headFour'>藏汉翻译</a>
								<a href='javascript:void(0)' index='1' class='tab_btn front_headFour'>汉藏翻译</a>
							</div>
							<div class="tab_div curr_div">
								<div class="index search row">
							
								</div>
								<form action="tibetansearchdetial" method="post">
									<div class="col-md-9">
									<input type="text" name="searchWord" id="searchWord" class="form-control" placeholder="请输入您想查询的词条" style="float:left; width: 95%; height: 50px;"/>
									</div>
									<div class="col-md-3">
									<input type="submit" value="查   询" style="float: left; width: 60%;" class="btn btn-primary btn-lg"/>
									</div>
								</form>
							</div>
							
							<div class="tab_div">
								<div class="index search row">
							
								</div>
								<form action="Chinesesearchdetial" method="post">
									<div class="col-md-9">
									<input type="text" name="searchWord" id="searchWord" class="form-control" placeholder="请输入您想查询的词条" style="float:left; width: 95%; height: 50px;"/>
									</div>
									<div class="col-md-3">
									<input type="submit" value="查   询" style="float: left; width: 60%;" class="btn btn-primary btn-lg"/>
									</div>
								</form>
							</div>
							
				</div> 
				<div class="index search row"></div>
				<div class="index search row"></div>
			</div>
		</div>
		<div class="index search row"></div>
		<div class="wrap" style="background-color: #FFF; width: 80%;margin: auto;">
	        <div class="container" style = "width:100%">
				<div class="row">
					<div class="col-md-6" style="padding-left: 5px;">
		        		<div class="panel panel-default" id="divOneLeft">
							<div class="panel-heading index-mypanelheading-style">
								<h3 class="panel-title">
									TDS简介
										<span style="font-size: 9px;float: right;">
											<a href="#"><img src="./img/more.gif" /></a>
										</span>
									</h3>
								</div>
								<div class="panel-body">
									<span style="line-height: 200%;" class="front_textOne"><span class="front_headThree">藏语方言计算机处理系统</span>简称为TDS，是对藏语方言数据库中的数据进行存储、索引等计算机处理，并作一些初步预处理，如方言材料的导入、方言材料的比较、特征提取、听取录音、语法数据查询和词典查询等自然语言处理的一个平台。是民族语言的地方变体。它替民族地区的人民群众服务。藏语方言计算机处理系统的作用是对田野调查的一手资料通过整理、加工等处理生成表格，判断方言与方言、方言与古藏文之间相互对比关系。建设该平台的主要目的是，为藏语方言研究提供准确可靠的数据，尽量简化藏语方言处理的复杂度并提高特征提取的精确性，使其更多地依赖准确的数据，从而更具科学性。</span>
								</div>
							</div>
		        		</div>
		        		<div class="col-md-6" style="padding-left: 5px;">
		        			<div class="panel panel-default" id="divOneRight">
								<div class="panel-heading index-mypanelheading-style">
									<h3 class="panel-title">
										TDS帮助
										<span style="font-size: 9px;float: right;">
											<a href="#"><img src="./img/more.gif" /></a>
										</span>
									</h3>
								</div>
								<div class="panel-body">
									<span style="line-height: 200%;" class="front_textOne">
										藏语方言计算机处理系统简称为TDS，是一款网页版的藏语方言处理系统，能够全自动实现方言处理的各种功能，平台支持藏文音节自动威利转写，提取各方言的声韵调，并进行对比分析，从而更直观的了解各方言间的关系和方言的音变规律。
									</span>
									<p/>
									<p/>
									<ul class="index-ul front_textOne">
										<li style="list-style:none"><a href="#" class="index-a">方言导入操作帮助</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="glyphicon glyphicon-facetime-video"></span>&nbsp;<a href="#" class="index-a">方言导入操作视频</a></li>
										<li style="list-style:none"><a href="#" class="index-a">方言比较操作帮助</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="glyphicon glyphicon-facetime-video"></span>&nbsp;<a href="#" class="index-a">方言比较操作视频</a></li>
										<li style="list-style:none"><a href="#" class="index-a">文本处理操作帮助</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span class="glyphicon glyphicon-facetime-video"></span>&nbsp;<a href="#" class="index-a">文本处理操作视频 </a></li>
									</ul>
								</div>
							</div>
		        		</div>
		        	</div>
		        	<div class="row">
		        		<div class="col-md-6" style="padding-left: 5px;">
		        			<div class="panel panel-default" id="divTwoLeft">
								<div class="panel-heading index-mypanelheading-style">
									<h3 class="panel-title">
										藏语方言音系库
										<span style="font-size: 9px;float: right;">
											<a href="#"><img src="./img/more.gif" /></a>
										</span>
									</h3>
								</div>
								<div class="panel-body">
									<ul class="index-ul front_textOne" style="line-height: 200%;">
										<li class="index-li"><a href="#" class="index-a">康方言巴塘话</a></li>
										<li class="index-li"><a href="#" class="index-a">康方言德格话</a></li>
										<li class="index-li"><a href="#" class="index-a">安多天峻舟群话</a></li>
										<li class="index-li"><a href="#" class="index-a">安多夏河甘加话</a></li>
									</ul>
								</div>
							</div>
		        		</div>
		        		<div class="col-md-6" style="padding-left: 5px;">
		        			<div class="panel panel-default" id="divTwoRight">
								<div class="panel-heading index-mypanelheading-style">
									<h3 class="panel-title">
										下载
										<span style="font-size: 9px;float: right;">
											<a href="#"><img src="./img/more.gif" /></a>
										</span>
									</h3>
								</div>
								<div class="panel-body">
									<ul class="index-ul front_textOne">
										<li class="index-li"><a href="#" class="index-a">[软件下载]Praat---Mac版本地址下载</a></li>
										<li class="index-li"><a href="#" class="index-a">[软件下载]Praat---Win版本地址下载</a></li>
										<li class="index-li"><a href="#" class="index-a">[软件下载]Elan_文本处理软件 下载</a></li>
										<li class="index-li"><a href="#" class="index-a">[软件下载]Toolbox_文本处理软件 下载</a></li>
										<li class="index-li"><a href="#" class="index-a">[软件下载]斐風_田野調查軟件V2.1.2下载</a></li>
										<li class="index-li"><a href="#" class="index-a">[输入法下载]灵风_国际音标输入法下载</a></li>
										<li class="index-li"><a href="#" class="index-a">[输入法下载]喜马拉雅_藏文输入法下载</a></li>
									</ul>
								</div>
							</div>
		        		</div>
		        	</div>
	        </div>
		</div>
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
</html>