<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/my-style.css"/>
	    
		<script type="text/javascript" src="${request.contextPath}/static/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="${request.contextPath}/static/js/bootstrap.js"></script>
		<title>Insert title here</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		
		<div class="wrap" style="width: 80%; margin: 30px auto;">
			<div class="container">
				<div class="content" style="padding:20px;border-radius: 4px; box-shadow: 0 0 30px rgba(0, 0, 0, 0.47);">
					<div class="tab_with_slider">
						<div class="tab-head text-center" style="text-align: left;padding: 63px;line-height: 35px;">
							<h3>藏文：<strong>།ཀ།</strong></h3>
							<p style="font-size: 26px;">转写：</p>
						</div>
						<div style="font-size: 20px;font-weight: bold ">
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading" style="padding-left: 50px;">
										<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><strong>藏汉翻译：</strong></a></h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											<p> རྩ་བ་དང༌། ཐོག་མ། གདོད་མ།                  名词。根本，开初，原始。</p>
											<p>ཆོས་ཐམས་ཅད་ཀ་ནས་དག་པ།                   诸法本净。</p>
											<p>ཀ་ནས་མ་རྫོགས་པའི་བར།                        自始至终。</p>
											<p>ཀ་ནས་རང་ཆས་སུ་ཡོད་པ་མ་ཡིན་པ།            不是一开始就自然有的</p>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-group" id="accordion" >
								<div class="panel panel-default">
									<div class="panel-heading" style="padding-left: 50px;">
										<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><strong>词性：</strong></a></h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse in">
										<div class="panel-body">
											<p>བོད་ཡིག་གསལ་བྱེད་དང་པོ་འདིའི་ང་རོ་འདོན་ཚུལ་ལ་སྐྱེ་གནས་མགྲིན་པ་དང༌། བྱེད་པ་མགྲིན་པ། ནང་གི་རྩོལ་བ་མགྲིན་པ་ནང་ཕྲད། ཕྱིའི་རྩོལ་བ་སྲོག་ཆུང་སྒྲ་མེད།</p>
											<p>藏文第一字母，此字母发音情形:传统说其静发音位为喉，动发音位为喉，口内动态为喉间全阻，口外动态为不送气清音，今前藏读作舌根不送气清塞音，相当于汉语拼音字母g，国际音标k，高降调；藏文的辅音字母不加元音符号时，都含有元音a，所以，这个字母的读音相当于汉拼的ga。</p>
											<p> </p>
											<p>[1] མིང་གཞིའི་ཕོ་ཡིག་ཅིག།强音语基字母之一。</p>
											<p> </p>
											<p>[2] རྟགས་མཚུངས་འདྲེན་སྐབས་ག་ད་བ་ས་སྟེ་རྗེས་འཇུག་ཕོས་དྲངས་པའི་མིང་གི་ཆ་ཤས་ཤིག།强音后加字ག་ད་བ་ས索引后缀之一。ཐོག་ཀ།楼上。དཔྱིད་ཀ།春季。རྒྱལ་ཁ་ཐོབ་ཀ་སྔ་མོ།胜利之前。སྐས་ཀ།梯子。གྲངས་ཀྱི་མིང་མཐར་བཅུག་ནས་ཚང་མའམ་ཐམས་ཅད་ཅེས་པའི་དོན་སྟོན་པའི་ཆ་ཤས་ཤིག།加于数字后面表一齐、全部等义的一个词尾。སྔ་ཕྱི་གཉིས་ཀ།先后二者。</p>
											<p> </p>
										</div>
									</div>
								</div>
							</div>
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading" style="padding-left: 50px;">
										<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><strong>语音：</strong></a></h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse in">
										<div class="panel-body">
											<ul class="list-group">
												<li class="list-group-item"><p>安多发音：<audio controls="controls"><source src="audio/00001天.wav" type="audio/mp3"/></audio></p></li>
												<li class="list-group-item"><p>拉萨发音：<audio controls="controls"><source src="audio/00001天.wav" type="audio/mp3"/></audio></p></li>
												<li class="list-group-item"><p>康巴发音：<audio controls="controls"><source src="audio/00001天.wav" type="audio/mp3"/></audio></p></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
</html>