<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"></meta>
	    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/nivo-slider.css"/>
	    <link rel="stylesheet" type="text/css" href="/css/my-style.css"/>
	    
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<title>汉藏大辞典</title>
	</head>
	<body>
		<div th:include="header :: header"></div>
		<div class="wrap">
			<div class="container index search" style="height: 100%;">
				<div class="index search row" style="height: 60px;">
				</div>
				
				<div class="content" style="padding:20px;border-radius: 4px;">
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<p><strong>语言点：</strong></p>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-1">
							<p><strong>地理位置：</strong></p>
						</div>
						
						<div class="col-md-11">
							<div class="row" style="padding:10px">
								<div class="col-md-4">
									<select class="myselect">
										<option value="请选择省">请选择省</option>
										<option value="qinghai">青海</option>
										<option value="gansu">甘肃</option>
										<option value="sichuan">四川</option>
										<option value="xizang">西藏</option>
										<option value="yunnan">云南</option>
									</select>
								</div>
								<div class="col-md-4">
									<select class="myselect">
										<option value="请选择省">请选择市/区</option>
										<option value="某市/区1">某市/区1</option>
										<option value="某市/区2">某市/区2</option>
										<option value="某市/区3">某市/区3</option>
										<option value="某市/区4">某市/区4</option>
									</select>
								</div>
								<div class="col-md-4">
									<select class="myselect">
										<option value="请选择省">请选择县</option>
										<option value="某县1">某县1</option>
										<option value="某县2">某县2</option>
										<option value="某县3">某县3</option>
										<option value="某县4">某县4</option>
									</select>
								</div>
							</div>
							<div class="row" style="padding:10px">
								<div class="col-md-3">
									<input type="text" class="form-control"></input>
								</div>
								<div class="col-md-3" style="text-align:center">
									<p><strong>镇</strong></p>
								</div>
								<div class="col-md-3">
									<input type="text" class="form-control"></input>
								</div>
								<div class="col-md-3" style="text-align:center">
									<p><strong>村</strong></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="well well-white clearfix" style="padding:10px">
							<div class="row" style="padding:10px">
								<div class="col-md-1" style="text-align:center"><p><strong>姓名：</strong></p></div>
								<div class="col-md-3" style="text-align:center"><input type="text" class="form-control"></input></div>
								<div class="col-md-2" style="text-align:center"><p><strong>出生日期：</strong></p></div>
								<div class="col-md-3" style="text-align:center">
								<div class="form-group">
									<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
										<input class="form-control" size="16" type="text" value=""></input>
										<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
										<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
									<input type="hidden" id="dtp_input2" value="" /><br/>
								</div>
								</div>
								<div class="col-md-1"></div>
								<div class="col-md-2">
									<select class="myselect">
										<option value="性别">性别</option>
										<option value="某市/区3">男</option>
										<option value="某市/区4">女</option>
									</select>
								</div>
							</div>
							<div class="row" style="padding:10px">
								<div class="col-md-1" style="text-align:center"><p><strong>联系电话：</strong></p></div>
								<div class="col-md-4" style="text-align:center"><input type="text" class="form-control" /></div>
								<div class="col-md-2"></div>
								<div class="col-md-1" style="text-align:center"><p><strong>职业：</strong></p></div>
								<div class="col-md-4" style="text-align:center"><input type="text" class="form-control" /></div>
							</div>
							<div class="row" style="padding:10px">
								<div class="col-md-1" style="text-align:center"><p><strong>联系地址：</strong></p></div>
								<div class="col-md-8" style="text-align:center"><input type="text" class="form-control" /></div>
							</div>
							<div class="row" style="padding:10px">
								<div class="col-md-1" style="text-align:center"><p><strong>文化程度：</strong></p></div>
								<div class="col-md-4" style="text-align:center"><input type="text" class="form-control" /></div>
								<div class="col-md-2"></div>
								<div class="col-md-1" style="text-align:center"><p><strong>使用语言：</strong></p></div>
								<div class="col-md-4" style="text-align:center"><input type="text" class="form-control" /></div>
							</div>
							<div class="row" style="padding:10px">
								<div class="col-md-1" style="text-align:center"><p><strong>备注：</strong></p></div>
								<div class="col-md-8" style="text-align:center"><textarea class="form-control" rows="3"></textarea></div>
							</div>
						</div>
						<div class="row" style="padding:10px; text-align:center">
							<div class="col-md-6"><button type="button" class="btn btn-primary btn-lg">取消</button></div>
							<div class="col-md-6"><button type="button" class="btn btn-primary btn-lg" onclick="javascript:location.href='./comparedsingle.jsp'">下一步</button></div>
						</div>
					</div>
				</div>
			</div>
				
				<div class="index search row" style="height: 60px;">
					<form method="POST" enctype="multipart/form-data" action="/uploadSyllableClusterFile"> 
						<div class="row">
							<div class="col-md-6">
								<p>上传方言调查字表: <input type="file" name="file" style="float: right;"/></p>
							</div>
							
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<p>请输入地点代号: <input type="text" name="locationCode" id="locationCode" style="float: right;"/></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p>请输入地点详情: <input type="text" name="locationDes" id="locationDes" style="float: right;"/></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<input type="submit" value="上传" style="float: left;"/>
							</div>
						</div>
					</form>
				</div>
				
				<div class="index search row" style="height: 60px;"><span th:text="${message}"></span></div>
				
				<div>
					<table border="1" class="mytable" style=" width: 1000px; height: 50px;">
							<tr class="front_textOne">
								<td>方言ID</td>
								<td>方言代号</td>
								<td>方言描述</td>
								<td>上传日期</td>
								<td>操作</td>
							</tr>
							<tr th:each="dialectDetial : ${dialectDetialList}" style="font-size: 14px;">
								<td th:text="${dialectDetial.ID}"> </td>
								<td th:text="${dialectDetial.locationCode}"> </td>
								<td th:text="${dialectDetial.locationDes}"> </td>
								<td th:text="${dialectDetial.ddtimestamp}"> </td>
								<td> </td>
							</tr>
						</table>
				</div>
				<div class="index search row" style="height: 60px;"></div>
			</div>
		</div>
		<footer>
			<div th:include="footer :: footer" style="background-color:#80999a"></div>	
		</footer>
	</body>
</html>