<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.TibetanLibrary.mapper.BasewordMapper">
	
	<resultMap type="com.huang.TibetanLibrary.domain.TibetanWordStructure" id="tibetanWordStructure">
		<result property="representationText" column="representationText" />
		<result property="radical" column="radical" />
		<result property="prefix" column="prefix" />
		<result property="suffix" column="suffix" />
		<result property="postffix" column="postffix" />
		<result property="superscript" column="superscript" />
		<result property="subscript" column="subscript" />
		<result property="vowelMark" column="vowelMark" />
		<result property="anusvara" column="anusvara" />
		<result property="visarga" column="visarga" />
	</resultMap>
	
	
</mapper>