<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.TibetanLibrary.mapper.SyllableClusterMapper">
	
	<resultMap type="com.huang.TibetanLibrary.domain.SyllableCluster" id="SyllableCluster">
		<result property="ID" column="ID" />
		<result property="DID" column="DID" />
		<result property="ddtimestamp" column="ddtimestamp" />
		<result property="locationCode" column="locationCode" />
		<result property="locationDes" column="locationDes" />
	</resultMap>
	
	<select id="findAllDialectDetials" resultMap="SyllableCluster">
		SELECT 
			t.ID, 
			t.ddtimestamp, 
			t.locationCode, 
			t.locationDes 
		FROM dialectdetial t
	</select>
	
	<insert id="insertSyllableClusterSingle" useGeneratedKeys="true" keyProperty="ID" parameterType="com.huang.TibetanLibrary.domain.SyllableCluster">
		INSERT INTO syllablecluster(
			DID,
			translationText,
			representationText,
			wltranscriptionText,
			transcriptionText,
			pronunciationText,
			videoText,
			syllablesCount,
			primaryStressedPosition,
			secondaryBtressedPosition
		)
		VALUES(
			#{DID},
			#{translationText},
			#{representationText},
			#{wltranscriptionText},
			#{transcriptionText},
			#{pronunciationText},
			#{videoText},
			#{syllablesCount},
			#{primaryStressedPosition},
			#{secondaryBtressedPosition}
		)
	</insert>
</mapper>