<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.TibetanLibrary.mapper.SyllableTibetMapper">
	
	<resultMap type="com.huang.TibetanLibrary.domain.SyllableTibet" id="SyllableTibet">
		<result property="ID" column="ID" />
		<result property="DID" column="DID" />
		<result property="SID" column="SID" />
		<result property="orignRepresentationText" column="orignRepresentationText" />
		<result property="orignWltranscriptionText" column="orignWltranscriptionText" />
		<result property="orignTranscriptionText" column="orignTranscriptionText" />
		<result property="translationText" column="translationText" />
		<result property="representationText" column="representationText" />
		<result property="wltranscriptionText" column="wltranscriptionText" />
		<result property="transcriptionText" column="transcriptionText" />
		<result property="shellText" column="shellText" />
		<result property="onsetText" column="onsetText" />
		<result property="finalText" column="finalText" /> 
		<result property="nuclensText" column="nuclensText" />
		<result property="codaText" column="codaText" /> 
		<result property="toneText" column="toneText" /> 
		<result property="shellWilleText" column="shellWilleText" />
		<result property="onsetWilleText" column="onsetWilleText" /> 
		<result property="finalWilleText" column="finalWilleText" /> 
		<result property="nuclensWilleText" column="nuclensWilleText" />
		<result property="codaWilleText" column="codaWilleText" />
		<result property="integrated" column="integrated" />
	</resultMap>
	
	<resultMap type="com.huang.TibetanLibrary.domain.SyllableTibetTmpForDiaDia" id="SyllableTibetTmpForDiaDia">
		<result property="willeText" column="willeText" />
		<result property="orignRepresentationText" column="orignRepresentationText" />
		<result property="orignWltranscriptionText" column="orignWltranscriptionText" />
		<result property="dialectText" column="dialectText" />
		<result property="translationText" column="translationText" />
	</resultMap>
	
	<select id="findAllSyllableTibetById" parameterType="java.lang.String" resultMap="SyllableTibet">
		SELECT 
			t.ID,
			t.DID,
			t.SID,
			t.orignRepresentationText,
			t.orignWltranscriptionText,
			t.orignTranscriptionText,
			t.translationText,
			t.representationText,
			t.wltranscriptionText,
			t.transcriptionText,
			t.shellText,
			t.onsetText,
			t.finalText, 
			t.nuclensText,
			t.codaText,  
			t.toneText, 
			t.shellWilleText,
			t.onsetWilleText,  
			t.finalWilleText,  
			t.nuclensWilleText,
			t.codaWilleText,
			t.integrated
		FROM syllabletibet t
		WHERE t.DID = #{id}
	</select>
	
	<insert id="insertSingleSyllableTibet" useGeneratedKeys="true" keyProperty="ID" parameterType="com.huang.TibetanLibrary.domain.SyllableTibet">
		INSERT INTO syllabletibet(
			ID,
			DID,
			SID,
			orignRepresentationText,
			orignWltranscriptionText,
			orignTranscriptionText,
			translationText,
			representationText,
			wltranscriptionText,
			transcriptionText,
			shellText,
			onsetText,
			finalText, 
			nuclensText,
			codaText,  
			toneText, 
			shellWilleText,
			onsetWilleText,  
			finalWilleText,  
			nuclensWilleText,
			codaWilleText,
			integrated
		)
		VALUES(
			#{ID},
			#{DID},
			#{SID},
			#{orignRepresentationText},
			#{orignWltranscriptionText},
			#{orignTranscriptionText},
			#{translationText},
			#{representationText},
			#{wltranscriptionText},
			#{transcriptionText},
			#{shellText},
			#{onsetText},
			#{finalText}, 
			#{nuclensText},
			#{codaText}, 
			#{toneText}, 
			#{shellWilleText},
			#{onsetWilleText}, 
			#{finalWilleText}, 
			#{nuclensWilleText},
			#{codaWilleText},
			#{integrated}
		)
	</insert>
	
	<select id="findSpecialSyllableTibetByTiDidByType" resultMap="SyllableTibet">
		SELECT *
		FROM syllabletibet t
		WHERE t.DID = #{did} 
		<if test="queryOnsetList != null">
		AND t.onsetText IN
			<foreach collection="queryOnsetList" item="queryType"
				index="index" open="(" close=")" separator=",">
				#{queryType}
			</foreach>
		</if>
		<if test="queryFinalList != null">
		AND t.finalText IN
			<foreach collection="queryFinalList" item="queryType"
				index="index" open="(" close=")" separator=",">
				#{queryType}
			</foreach>
		</if>
		<if test="queryOnsetWilleList != null">
		AND t.onsetWilleText IN
			<foreach collection="queryOnsetWilleList" item="queryType"
				index="index" open="(" close=")" separator=",">
				#{queryType}
			</foreach>
		</if>
		<if test="queryFinalWilleList != null">
		AND t.finalWilleText IN
			<foreach collection="queryFinalWilleList" item="queryType"
				index="index" open="(" close=")" separator=",">
				#{queryType}
			</foreach>
		</if>
	</select>
	
	<select id="findSpecialSyllableTibetByDiaDidByOnset" resultMap="SyllableTibetTmpForDiaDia">
		SELECT
			onsetWilleText as willeText,
			orignRepresentationText,
			orignWltranscriptionText,
			GROUP_CONCAT(DID, ':', onsetText, ':', transcriptionText) as dialectText,
			translationText
		FROM syllabletibet
		WHERE 
			DID IN
			<if test="didList != null">
				<foreach collection="didList" item="did" index="index" open="(" close=")" separator=",">
					#{did}
				</foreach>
			</if>
			AND onsetWilleText IN 
				<foreach collection="queryList" item="queryItem" index="index" open="(" close=")" separator=",">
					#{queryItem}
				</foreach>
		GROUP BY onsetWilleText, orignRepresentationText, orignWltranscriptionText, translationText;
	</select>
	
	<select id="findSpecialSyllableTibetByDiaDidByFinal" resultMap="SyllableTibetTmpForDiaDia">
		SELECT
			finalWilleText as willeText,
			orignRepresentationText,
			orignWltranscriptionText,
			GROUP_CONCAT(DID, ':', finalText, ':', transcriptionText) as dialectText,
			translationText
		FROM syllabletibet
		WHERE 
			DID IN
			<if test="didList != null">
				<foreach collection="didList" item="did" index="index" open="(" close=")" separator=",">
					#{did}
				</foreach>
			</if>
			AND finalWilleText IN 
				<foreach collection="queryList" item="queryItem" index="index" open="(" close=")" separator=",">
					#{queryItem}
				</foreach>
		GROUP BY finalWilleText, orignRepresentationText, orignWltranscriptionText, translationText;
	</select>
	
</mapper>