<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.TibetanLibrary.mapper.SyllableTibetMapper">
	
	<resultMap type="com.huang.TibetanLibrary.domain.SyllableTibet" id="SyllableTibet">
		<result property="ID" column="ID" />
		<result property="DID" column="DID" />
		<result property="SID" column="SID" />
		<result property="translationText" column="translationText" />
		<result property="representationText" column="representationText" />
		<result property="wltranscriptionText" column="wltranscriptionText" />
		<result property="transcriptionText" column="transcriptionText" />
		<result property="shellText" column="shellText" />
		<result property="onsetText" column="onsetText" />
		<result property="finalText" column="finalText" /> 
		<result property="nuclensText" column="nuclensText" />
		<result property="codaText" column="codaText" /> 
		<result property="toneText" column="toneText" /> 
		<result property="shellWilleText" column="shellWilleText" />
		<result property="onsetWilleText" column="onsetWilleText" /> 
		<result property="finalWilleText" column="finalWilleText" /> 
		<result property="nuclensWilleText" column="nuclensWilleText" />
		<result property="codaWilleText" column="codaWilleText" />
		<result property="integrated" column="integrated" />
	</resultMap>
	
	<select id="findAllSyllableTibetById" parameterType="java.lang.String" resultMap="SyllableTibet">
		SELECT 
			t.ID,
			t.DID,
			t.SID,
			t.translationText,
			t.representationText,
			t.wltranscriptionText,
			t.transcriptionText,
			t.shellText,
			t.onsetText,
			t.finalText, 
			t.nuclensText,
			t.codaText,  
			t.toneText, 
			t.shellWilleText,
			t.onsetWilleText,  
			t.finalWilleText,  
			t.nuclensWilleText,
			t.codaWilleText,
			t.integrated
		FROM syllableTibet t
		WHERE t.DID = #{id}
	</select>
	
	<insert id="insertSingleSyllableTibet" useGeneratedKeys="true" keyProperty="ID" parameterType="com.huang.TibetanLibrary.domain.SyllableTibet">
		INSERT INTO syllableTibet(
			ID,
			DID,
			SID,
			translationText,
			representationText,
			wltranscriptionText,
			transcriptionText,
			shellText,
			onsetText,
			finalText, 
			nuclensText,
			codaText,  
			toneText, 
			shellWilleText,
			onsetWilleText,  
			finalWilleText,  
			nuclensWilleText,
			codaWilleText,
			integrated
		)
		VALUES(
			#{ID},
			#{DID},
			#{SID},
			#{translationText},
			#{representationText},
			#{wltranscriptionText},
			#{transcriptionText},
			#{shellText},
			#{onsetText},
			#{finalText}, 
			#{nuclensText},
			#{codaText}, 
			#{toneText}, 
			#{shellWilleText},
			#{onsetWilleText}, 
			#{finalWilleText}, 
			#{nuclensWilleText},
			#{codaWilleText},
			#{integrated}
		)
	</insert>
</mapper>