<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.TibetanLibrary.mapper.SyllableClusterMapper">
	
	<resultMap type="com.huang.TibetanLibrary.domain.SyllableCluster" id="SyllableCluster">
		<result property="ID" column="ID" />
		<result property="DID" column="DID" />
		<result property="translationText" column="translationText" />
		<result property="representationText" column="representationText" />
		<result property="wltranscriptionText" column="wltranscriptionText" />
		<result property="transcriptionText" column="transcriptionText" />
		<result property="pronunciationText" column="pronunciationText" />
		<result property="videoText" column="videoText" />
		<result property="syllablesCount" column="syllablesCount" />
		<result property="primaryStressedPosition" column="primaryStressedPosition" />
		<result property="secondaryBtressedPosition" column="secondaryBtressedPosition" />
	</resultMap>
	
	<select id="findAllDialectDetials" parameterType="java.lang.String"   resultMap="SyllableCluster">
		SELECT 
			t.ID, 
			t.translationText,
			t.representationText,
			t.wltranscriptionText,
			t.transcriptionText,
			t.pronunciationText,
			t.videoText,
			t.syllablesCount,
			t.primaryStressedPosition,
			t.secondaryBtressedPosition
		FROM syllablecluster t
		WHERE t.DID = #{id}
	</select>
	
	<insert id="insertSyllableClusterSingle" useGeneratedKeys="true" keyProperty="ID" parameterType="com.huang.TibetanLibrary.domain.SyllableCluster">
		INSERT INTO syllablecluster(
			DID,
			translationText,
			representationText,
			wltranscriptionText,
			transcriptionText,
			pronunciationText,
			videoText,
			syllablesCount,
			primaryStressedPosition,
			secondaryBtressedPosition
		)
		VALUES(
			#{DID},
			#{translationText},
			#{representationText},
			#{wltranscriptionText},
			#{transcriptionText},
			#{pronunciationText},
			#{videoText},
			#{syllablesCount},
			#{primaryStressedPosition},
			#{secondaryBtressedPosition}
		)
	</insert>
</mapper>