<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huang.TibetanLibrary.mapper.SyllableTibetMapper">
	
	<resultMap type="com.huang.TibetanLibrary.domain.SyllableTibet" id="SyllableTibet">
		<result property="ID" column="ID" />
		<result property="DID" column="DID" />
		<result property="SID" column="SID" />
		<result property="syllableTibet" column="syllableTibet" />
		<result property="wlSyllableTibet" column="wlSyllableTibet" />
	</resultMap>
	
	<select id="findAllSyllableTibet" resultMap="SyllableTibet">
		SELECT 
			t.ID, 
			t.DID, 
			t.SID, 
			t.syllableTibet, 
			t.wlSyllableTibet 
		FROM syllableTibet t
	</select>
	
	<insert id="insertSingleSyllableTibet" useGeneratedKeys="true" keyProperty="ID" parameterType="com.huang.TibetanLibrary.domain.SyllableTibet">
		INSERT INTO syllableTibet(
			DID,
			SID,
			syllableTibet,
			wlSyllableTibet
		)
		VALUES(
			#{DID},
			#{SID},
			#{syllableTibet},
			#{wlSyllableTibet}
		)
	</insert>
</mapper>